/*Select any elements with map id*/
#map {
    height:100%;
    width:100%;
    left:0px; 
    position: fixed;
    height: 87%;
	top: 70px;
	padding-bottom: 15px;
	zoom: 1.0;
}

/*Select any elements with title id*/
#title {
    position: absolute;
    left: 0;
    z-index: 2;
    height: 72px;
    top: 0px;
    opacity: 0.80;
    color: black;
    background: rgb(78, 226, 127) none repeat scroll 0% 0%;
    width: 100%;
}

/*Select any elements with h2 tag in title id */
#title{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgba(81, 139, 34, 0.76);
	font-size: large;
}